<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon class="material-icons"(click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1> Power System MCQ</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/login'"> Login </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/question-home'"> Home </a>
        </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">Power system 600 Mcq with answers</span>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/login'"> Login </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/questions'"> Question set 1 </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
