<mat-card>
    <mat-card-content class="home">
<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="questionSet(1)" style="margin-left: 50px;">1</button>
    <button mat-raised-button color="primary" (click)="questionSet(2)" style="margin-left: 50px;">2</button>
    <button mat-raised-button color="primary" (click)="questionSet(3)" style="margin-left: 50px;">3</button>
    <button mat-raised-button color="primary" (click)="questionSet(4)" style="margin-left: 50px;">4</button>
    <button mat-raised-button color="primary" (click)="questionSet(5)" style="margin-left: 50px;">5</button>
    <br><br>
    <button mat-raised-button color="primary" (click)="questionSet(6)" style="margin-left: 50px;">6</button>
    <button mat-raised-button color="primary" (click)="questionSet(7)" style="margin-left: 50px;">7</button>
    <button mat-raised-button color="primary" (click)="questionSet(8)" style="margin-left: 50px;">8</button>
    <button mat-raised-button color="primary" (click)="questionSet(9)" style="margin-left: 50px;">9</button>
    <button mat-raised-button color="primary" (click)="questionSet(10)" style="margin-left: 50px;">10</button>
    <br><br>
    <button mat-raised-button color="primary" (click)="questionSet(11)" style="margin-left: 50px;">11</button>
    <button mat-raised-button color="primary" (click)="questionSet(12)" style="margin-left: 50px;">12</button>
    <button mat-raised-button color="primary" (click)="questionSet(13)" style="margin-left: 50px;">13</button>
    <button mat-raised-button color="primary" (click)="questionSet(14)" style="margin-left: 50px;">14</button>
    <button mat-raised-button color="primary" (click)="questionSet(15)" style="margin-left: 50px;">15</button>
    <br><br>
    <button mat-raised-button color="primary" (click)="questionSet(1)" style="margin-left: 50px;">test</button>
  </div>
</mat-card-content>
</mat-card>
